<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>R.alt</key>
    <string>R_.alt.glif</string>
    <key>two.oldstyle</key>
    <string>two.oldstyle.glif</string>
    <key>zero.oldstyle</key>
    <string>zero.oldstyle.glif</string>
  </dict>
</plist>
