<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>b</key>
    <string>b.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
  </dict>
</plist>
