<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0433</key>
    <string>uni0433.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0447</key>
    <string>uni0447.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni045F</key>
    <string>uni045F_.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
  </dict>
</plist>
