<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.kc0_0</key>
    <array>
      <string>a</string>
      <string>u</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>itilde</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>dotlessi</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>uni0430</string>
      <string>uni0438</string>
      <string>uni043B</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni0446</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044B</string>
    </array>
    <key>public.kern1.kc0_1</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Hcircumflex</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>uni040D</string>
      <string>uni040F</string>
      <string>uni0414</string>
      <string>uni0418</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni041F</string>
      <string>uni0426</string>
      <string>uni0427</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042B</string>
      <string>uni042F</string>
    </array>
    <key>public.kern1.kc0_10</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>Tcaron</string>
      <string>uni0403</string>
      <string>uni0413</string>
      <string>uni0422</string>
    </array>
    <key>public.kern1.kc0_11</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lslash</string>
      <string>uni042A</string>
      <string>uni042C</string>
    </array>
    <key>public.kern1.kc0_12</key>
    <array>
      <string>K</string>
      <string>X</string>
      <string>uni0136</string>
      <string>uni040C</string>
      <string>uni0416</string>
      <string>uni041A</string>
    </array>
    <key>public.kern1.kc0_13</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.kc0_14</key>
    <array>
      <string>R</string>
      <string>R.alt</string>
    </array>
    <key>public.kern1.kc0_15</key>
    <array>
      <string>S</string>
      <string>uni0405</string>
    </array>
    <key>public.kern1.kc0_16</key>
    <array>
      <string>P</string>
      <string>uni0420</string>
    </array>
    <key>public.kern1.kc0_17</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.kc0_18</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.kc0_19</key>
    <array>
      <string>B</string>
      <string>uni0412</string>
      <string>uni0417</string>
    </array>
    <key>public.kern1.kc0_2</key>
    <array>
      <string>C</string>
      <string>E</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>uni0404</string>
      <string>uni0415</string>
      <string>uni0421</string>
    </array>
    <key>public.kern1.kc0_20</key>
    <array>
      <string>j.sc</string>
      <string>jcircumflex.sc</string>
      <string>u.sc</string>
      <string>uacute.sc</string>
      <string>ubreve.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>umacron.sc</string>
      <string>uogonek.sc</string>
      <string>uring.sc</string>
      <string>utilde.sc</string>
    </array>
    <key>public.kern1.kc0_22</key>
    <array>
      <string>d.sc</string>
      <string>o.sc</string>
      <string>oacute.sc</string>
      <string>obreve.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>omacron.sc</string>
      <string>otilde.sc</string>
    </array>
    <key>public.kern1.kc0_23</key>
    <array>
      <string>a.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>agrave.sc</string>
      <string>amacron.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
    </array>
    <key>public.kern1.kc0_24</key>
    <array>
      <string>uni1E87.sc</string>
      <string>uni1E89.sc</string>
      <string>w.sc</string>
      <string>wacute.sc</string>
      <string>wcircumflex.sc</string>
      <string>wdieresis.sc</string>
      <string>wgrave.sc</string>
    </array>
    <key>public.kern1.kc0_26</key>
    <array>
      <string>r.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>uni0157.sc</string>
      <string>uni0213.sc</string>
    </array>
    <key>public.kern1.kc0_27</key>
    <array>
      <string>n.sc</string>
      <string>nacute.sc</string>
      <string>ncaron.sc</string>
      <string>ntilde.sc</string>
      <string>uni0146.sc</string>
    </array>
    <key>public.kern1.kc0_28</key>
    <array>
      <string>g.sc</string>
      <string>gbreve.sc</string>
      <string>gcircumflex.sc</string>
      <string>gdotaccent.sc</string>
      <string>uni0123.sc</string>
    </array>
    <key>public.kern1.kc0_29</key>
    <array>
      <string>y.sc</string>
      <string>yacute.sc</string>
      <string>ycircumflex.sc</string>
      <string>ydieresis.sc</string>
    </array>
    <key>public.kern1.kc0_3</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>Eth</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>uni041E</string>
      <string>uni0424</string>
      <string>uni042D</string>
      <string>uni042E</string>
    </array>
    <key>public.kern1.kc0_30</key>
    <array>
      <string>t.sc</string>
      <string>tcaron.sc</string>
      <string>uni0163.sc</string>
      <string>uni021B.sc</string>
    </array>
    <key>public.kern1.kc0_31</key>
    <array>
      <string>l.sc</string>
      <string>lacute.sc</string>
      <string>uni013C.sc</string>
    </array>
    <key>public.kern1.kc0_32</key>
    <array>
      <string>v.sc</string>
      <string>ygrave.sc</string>
    </array>
    <key>public.kern1.kc0_35</key>
    <array>
      <string>q.sc</string>
    </array>
    <key>public.kern1.kc0_36</key>
    <array>
      <string>p.sc</string>
    </array>
    <key>public.kern1.kc0_37</key>
    <array>
      <string>itilde.sc</string>
    </array>
    <key>public.kern1.kc0_38</key>
    <array>
      <string>icircumflex.sc</string>
    </array>
    <key>public.kern1.kc0_39</key>
    <array>
      <string>f.sc</string>
    </array>
    <key>public.kern1.kc0_4</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>IJ</string>
      <string>Jcircumflex</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uogonek</string>
    </array>
    <key>public.kern1.kc0_40</key>
    <array>
      <string>dcaron.sc</string>
    </array>
    <key>public.kern1.kc0_41</key>
    <array>
      <string>b.sc</string>
    </array>
    <key>public.kern1.kc0_42</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>uni043E</string>
      <string>uni0440</string>
      <string>uni044D</string>
      <string>uni044E</string>
    </array>
    <key>public.kern1.kc0_44</key>
    <array>
      <string>d</string>
      <string>i</string>
      <string>l</string>
      <string>dcroat</string>
      <string>lacute</string>
      <string>uni013C</string>
      <string>lslash</string>
      <string>uniFB01</string>
      <string>uniFB02</string>
      <string>uniFB03</string>
      <string>uniFB04</string>
    </array>
    <key>public.kern1.kc0_45</key>
    <array>
      <string>f</string>
      <string>uniFB00</string>
    </array>
    <key>public.kern1.kc0_46</key>
    <array>
      <string>g</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>uni0123</string>
    </array>
    <key>public.kern1.kc0_47</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>napostrophe</string>
      <string>eng</string>
      <string>uni0442</string>
    </array>
    <key>public.kern1.kc0_49</key>
    <array>
      <string>k</string>
      <string>x</string>
      <string>uni0137</string>
      <string>kgreenlandic</string>
      <string>uni043A</string>
      <string>uni0445</string>
    </array>
    <key>public.kern1.kc0_5</key>
    <array>
      <string>A</string>
      <string>backslash</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>uni013B</string>
      <string>uni0410</string>
    </array>
    <key>public.kern1.kc0_51</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>uni0157</string>
      <string>rcaron</string>
      <string>uni0491</string>
    </array>
    <key>public.kern1.kc0_54</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wcircumflex</string>
      <string>ycircumflex</string>
      <string>uni0443</string>
      <string>uni045E</string>
    </array>
    <key>public.kern1.kc0_6</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.kc0_7</key>
    <array>
      <string>slash</string>
      <string>V</string>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>uni0490</string>
    </array>
    <key>public.kern1.kc0_8</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.kc0_9</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.kc0_1</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Thorn</string>
      <string>Hcircumflex</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>IJ</string>
      <string>uni0136</string>
      <string>Lacute</string>
      <string>uni013B</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Racute</string>
      <string>uni0156</string>
      <string>Rcaron</string>
      <string>uni0400</string>
      <string>uni0401</string>
      <string>uni0403</string>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni040A</string>
      <string>uni040D</string>
      <string>uni040F</string>
      <string>uni0411</string>
      <string>uni0412</string>
      <string>uni0415</string>
      <string>uni0418</string>
      <string>uni0419</string>
      <string>uni041A</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni041F</string>
      <string>uni0420</string>
      <string>uni0426</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042B</string>
      <string>uni042C</string>
      <string>uni042E</string>
      <string>R.alt</string>
    </array>
    <key>public.kern2.kc0_10</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.kc0_11</key>
    <array>
      <string>X</string>
      <string>uni040E</string>
      <string>uni0416</string>
      <string>uni0425</string>
    </array>
    <key>public.kern2.kc0_12</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.kc0_13</key>
    <array>
      <string>J</string>
      <string>uni0408</string>
      <string>uni0409</string>
    </array>
    <key>public.kern2.kc0_14</key>
    <array>
      <string>b.sc</string>
      <string>d.sc</string>
      <string>dcaron.sc</string>
      <string>e.sc</string>
      <string>eacute.sc</string>
      <string>ebreve.sc</string>
      <string>ecaron.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>edotaccent.sc</string>
      <string>egrave.sc</string>
      <string>emacron.sc</string>
      <string>eogonek.sc</string>
      <string>f.sc</string>
      <string>h.sc</string>
      <string>hcircumflex.sc</string>
      <string>i.sc</string>
      <string>iacute.sc</string>
      <string>ibreve.sc</string>
      <string>idotaccent.sc</string>
      <string>igrave.sc</string>
      <string>imacron.sc</string>
      <string>iogonek.sc</string>
      <string>k.sc</string>
      <string>l.sc</string>
      <string>lacute.sc</string>
      <string>lcaron.sc</string>
      <string>m.sc</string>
      <string>n.sc</string>
      <string>nacute.sc</string>
      <string>ncaron.sc</string>
      <string>ntilde.sc</string>
      <string>p.sc</string>
      <string>r.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>uni0137.sc</string>
      <string>uni013C.sc</string>
      <string>uni0146.sc</string>
      <string>uni0157.sc</string>
      <string>uni0213.sc</string>
    </array>
    <key>public.kern2.kc0_15</key>
    <array>
      <string>c.sc</string>
      <string>cacute.sc</string>
      <string>ccaron.sc</string>
      <string>ccedilla.sc</string>
      <string>ccircumflex.sc</string>
      <string>cdotaccent.sc</string>
      <string>g.sc</string>
      <string>gbreve.sc</string>
      <string>gcircumflex.sc</string>
      <string>gdotaccent.sc</string>
      <string>o.sc</string>
      <string>oacute.sc</string>
      <string>obreve.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>omacron.sc</string>
      <string>otilde.sc</string>
      <string>q.sc</string>
      <string>uni0123.sc</string>
    </array>
    <key>public.kern2.kc0_16</key>
    <array>
      <string>u.sc</string>
      <string>uacute.sc</string>
      <string>ubreve.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>umacron.sc</string>
      <string>uogonek.sc</string>
      <string>uring.sc</string>
      <string>utilde.sc</string>
    </array>
    <key>public.kern2.kc0_17</key>
    <array>
      <string>a.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>agrave.sc</string>
      <string>amacron.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
    </array>
    <key>public.kern2.kc0_18</key>
    <array>
      <string>uni1E87.sc</string>
      <string>uni1E89.sc</string>
      <string>v.sc</string>
      <string>w.sc</string>
      <string>wacute.sc</string>
      <string>wcircumflex.sc</string>
      <string>wdieresis.sc</string>
      <string>wgrave.sc</string>
    </array>
    <key>public.kern2.kc0_19</key>
    <array>
      <string>s.sc</string>
      <string>sacute.sc</string>
      <string>scaron.sc</string>
      <string>scedilla.sc</string>
      <string>scircumflex.sc</string>
      <string>uni0219.sc</string>
    </array>
    <key>public.kern2.kc0_2</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>uni0122</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>OE</string>
      <string>uni0404</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>uni0424</string>
    </array>
    <key>public.kern2.kc0_20</key>
    <array>
      <string>z.sc</string>
      <string>zacute.sc</string>
      <string>zcaron.sc</string>
      <string>zdotaccent.sc</string>
    </array>
    <key>public.kern2.kc0_21</key>
    <array>
      <string>y.sc</string>
      <string>ycircumflex.sc</string>
      <string>ydieresis.sc</string>
      <string>ygrave.sc</string>
    </array>
    <key>public.kern2.kc0_22</key>
    <array>
      <string>t.sc</string>
      <string>tcaron.sc</string>
      <string>uni0163.sc</string>
      <string>uni021B.sc</string>
    </array>
    <key>public.kern2.kc0_23</key>
    <array>
      <string>j.sc</string>
      <string>jcircumflex.sc</string>
    </array>
    <key>public.kern2.kc0_24</key>
    <array>
      <string>yacute.sc</string>
    </array>
    <key>public.kern2.kc0_29</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>oe</string>
      <string>uni0430</string>
      <string>uni0432</string>
      <string>uni0435</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0444</string>
      <string>uni0450</string>
      <string>uni0451</string>
    </array>
    <key>public.kern2.kc0_3</key>
    <array>
      <string>slash</string>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>uni0410</string>
    </array>
    <key>public.kern2.kc0_30</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>uni0137</string>
      <string>lacute</string>
      <string>uni013C</string>
      <string>lcaron</string>
      <string>ldot</string>
    </array>
    <key>public.kern2.kc0_31</key>
    <array>
      <string>f</string>
      <string>i</string>
      <string>j</string>
      <string>uniFB00</string>
      <string>uniFB01</string>
      <string>uniFB02</string>
      <string>uniFB03</string>
      <string>uniFB04</string>
    </array>
    <key>public.kern2.kc0_32</key>
    <array>
      <string>g</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>uni0123</string>
    </array>
    <key>public.kern2.kc0_33</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>nacute</string>
      <string>uni0146</string>
      <string>ncaron</string>
      <string>eng</string>
      <string>racute</string>
      <string>uni0157</string>
      <string>rcaron</string>
      <string>uni043A</string>
      <string>uni043D</string>
      <string>uni044B</string>
      <string>uni044C</string>
    </array>
    <key>public.kern2.kc0_34</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.kc0_35</key>
    <array>
      <string>t</string>
      <string>uni0163</string>
      <string>tcaron</string>
      <string>tbar</string>
    </array>
    <key>public.kern2.kc0_36</key>
    <array>
      <string>u</string>
      <string>w</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>wcircumflex</string>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni0446</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni045D</string>
    </array>
    <key>public.kern2.kc0_37</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.kc0_38</key>
    <array>
      <string>x</string>
      <string>uni0436</string>
      <string>uni0445</string>
    </array>
    <key>public.kern2.kc0_39</key>
    <array>
      <string>y</string>
      <string>ycircumflex</string>
      <string>uni0443</string>
      <string>uni045E</string>
    </array>
    <key>public.kern2.kc0_4</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.kc0_40</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
    </array>
    <key>public.kern2.kc0_5</key>
    <array>
      <string>U</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uogonek</string>
    </array>
    <key>public.kern2.kc0_6</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wcircumflex</string>
    </array>
    <key>public.kern2.kc0_7</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>Tcaron</string>
      <string>uni0402</string>
      <string>uni040B</string>
      <string>uni0422</string>
    </array>
    <key>public.kern2.kc0_8</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.kc0_9</key>
    <array>
      <string>Z</string>
    </array>
  </dict>
</plist>
