<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1600</integer>
    <key>capHeight</key>
    <integer>1500</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Besley Project Authors (https://github.com/indestructible-type)</string>
    <key>descender</key>
    <integer>-400</integer>
    <key>familyName</key>
    <string>Besley</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <real>-300.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>Decenders</string>
        <key>y</key>
        <real>-500.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>LOWER CASE</string>
        <key>y</key>
        <real>1040.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>Overflow</string>
        <key>y</key>
        <real>-20.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>CAPITAL HIGHT</string>
        <key>y</key>
        <real>1500.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2016/04/15 23:15:50</string>
    <key>openTypeHheaAscender</key>
    <integer>2500</integer>
    <key>openTypeHheaDescender</key>
    <integer>-850</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Owen Earl</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://ewonrael.github.io</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>indestructible type*</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://indestructibletype.com/Home.html</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Besley</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>4</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2500</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-850</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>it* </string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2500</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>850</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>0</integer>
    <key>postscriptFontName</key>
    <string>Besley-Regular</string>
    <key>postscriptFullName</key>
    <string>Besley Regular</string>
    <key>postscriptSlantAngle</key>
    <real>0.0</real>
    <key>postscriptUnderlinePosition</key>
    <real>-150.0</real>
    <key>postscriptUnderlineThickness</key>
    <real>100.0</real>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>1040</integer>
  </dict>
</plist>
